<div class="container" role="main">
  <br />
  <div class="container-fluid header">
    <div class="container">
      <h2>Rest Countries API - Search Countries</h2>
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Type a search keyword ..." [(ngModel)]="term">
  </div>
  <div>&nbsp;</div>
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <th class="col-xs-1" scope="col">Flag</th>
        <th class="col-xs-2" scope="col">Country</th>
        <th class="col-xs-2" scope="col">Capital</th>
        <th class="col-xs-4" scope="col">Native Name</th>
        <th class="col-xs-4" scope="col">Region</th>
        <th class="col-xs-3" scope="col">Population</th>
      </tr>
      <tr *ngFor="let data of datas | filter:term">
        <td>
          <img [src]="data.flag" class="img-fluid img-thumbnail" style="width:50px" />
        </td>
        <td>{{ data.name }}</td>
        <td>{{ data.capital }}</td>
        <td>{{ data.nativeName }}</td>
        <td>{{ data.region }}</td>
        <td>{{ data.population }}</td>
      </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>